{% extends 'base.html.twig' %}
{% block body %}
    <div class="base-block">
        <pre class="code">
            Merci d'exécuter ces commandes pour initiliser l'application et garantir son bon fonctionnement :

            > docker exec -ti test_php sh
            > composer install
            > php bin/console doctrine:migrations:migrate
            > php bin/console doctrine:fixtures:load
        </pre>

        <div style="border:1px dashed">
            <p class="lead">
                J'aurais souhaité mettre en place Mercure pour pouvoir push des events en SSE et ne pas passer par un setInterval en JS mais je n'ai pas eu le temps de le mettre en place et de le faire fonctionner dans le delais imparti des 2h.
                <br>Idem pour la mise en place des TU que je n'ai pas eu le temps de réaliser.
            </p>
        </div>

        <h1>
            Bravo ! Step 1 done
        </h1>
        <p>
            Maintenant nous allons rentrer dans le vif du sujet <br><br>
            Le but sera de creer une page qui reproduira un salon de discussion (chat) qui sera accessible <a href="/chat">via ce lien</a><br>
            Lorsque l'on arrive sur cette page, il faudra demander a l'utilisateur son nom.<br><br>
            Une fois le nom renseigne on affiche un chat qui prendra toute la page.
            En bas de ce bloc de chat il y aura un champ permettant d'ecrire un message, avec un bouton permettant d'envoyer le message.<br>
            On enregistre le message en base de donnees (avec l'heure et le nom renseigne) et on rafraichit la page.<br><br>
            Dans le chat on affichera tous les messages dans l'ordre chronologique (comme dans tous les chats) avec le nom du createur du message et l'heure d'envoie.<br>
            Tous les messages associes au nom renseigne par l'utilisateur a l'entree dans le chat seront alignes du cote droit, et les autres messages du cote gauche.<br>
        </p>
        <div class="blankspace"></div>
        <h2>Petit exemple d'affichage (pas obligatoire d'avoir le meme visuel)</h2>
        <img src="/example.png">
    </div>
{% endblock %}
